:root {
    --color: #A2A8AD;
}

$shadow-light: rgba(255, 255, 255, 0.25);
$shadow-dark: rgba(0, 0, 0, 0.25);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color);
}

// Form

.form__conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__inner {
    margin: auto;
    width: 541px;
    height: 541px;
    border-radius: 25px;
    background-color: var(--color);
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;

    svg {
        width: 200px;
        height: 200px;
    }
}

.form__inner-nameWeather {
    margin-left: 45px;
    margin-top: 30px;
}

.form__inner-weather {
    font-size: 64px;
    color: #fff;
}

.weather__image {
    position: absolute;
    right: 555px;
    top: 160px;

    svg {
        width: 270px;
        height: 270px;
        fill: #fff;
    }
}

.database__image {
    width: 100px;
    height: 100px;
    background: #fff;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 25px 0 0;

    svg {
        width: 80px;
        height: 80px;
        fill: var(--color);
        margin-bottom: 4px;
        margin-left: 1px;
    }
}

.form__inner-date {
    margin-left: 48px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    color: #fff;
    font-size: 24px;
}

.temperature-text {
    margin-left: 48px;
    margin-top: 100px;
    border-bottom: 2px #fff solid;
    width: 310px;
}

.temperature {
    font-size: 96px;
    color: #fff;
}

.opacity {
    opacity: .5;
}

.opacity:nth-of-type(1) {
    margin-left: 10px;
}

.form__inner-parameters {
    margin-left: 50px;
    margin-top: 15px;
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.form__inner-city {
    position: absolute;
    bottom: 205px;
    right: 250px;
    height: 123px;
    display: flex;
    flex-direction: row;
}

.city__input {
    border: none;
    outline: 0;
    outline-offset: 0;
    background-color: #fff;
    font-size: 64px;
    border-radius: 15px;
    padding: 0 30px;
    height: 100px;
    color: var(--color);
    width: 400px;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;
}

.city__search {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;

    svg {
        width: 70px;
        height: 70px;
        fill: var(--color);
    }
}

.city__input::placeholder {
    color: var(--color);
}

//Database

.database__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.database__name {
    border: none;
    outline: 0;
    outline-offset: 0;
    background-color: #fff;
    font-size: 64px;
    border-radius: 15px;
    padding: 0 30px;
    height: 100px;
    color: var(--color);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;
    margin-top: 25px;
}

.database__informations {
    position: relative;
    width: 80%;
    height: 74vh;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    padding: 40px;
    overflow-y: auto;
    background-color: var(--color);
    box-shadow:
        inset 20px 20px 20px $shadow-dark,
        inset -20px -20px 20px $shadow-light;
}

.database__block {
    width: 94.7%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    margin-bottom: 10px;
    padding: 0 40px;

    border-radius: 15px;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;
}

.types__inner {
    background-color: #fff;
    color: var(--color);
    font-size: 40px;
}

.database__information {
    color: #fff;
    font-size: 32px;
}

.database__information-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 235px 290px 290px 300px 80px 250px;
    text-align: start;
    gap: 5px;
}

.database__information .opacity {
    opacity: 0.65;
}

.database__information:nth-child(2) {
    margin-top: 10px;
}

.database__information-grid span:nth-child(6) {
    text-align: end;
}

.database__information--text {
    max-width: 81%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}