:root {
    --color: #A2A8AD;
}

$shadow-light: rgba(255, 255, 255, 0.25);
$shadow-dark: rgba(0, 0, 0, 0.25);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color);
}

.form__conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__inner {
    margin: auto;
    width: 541px;
    height: 541px;
    border-radius: 25px;
    background-color: var(--color);
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;

    svg {
        width: 200px;
        height: 200px;
    }
}

.form__inner-nameWeather {
    margin-left: 45px;
    margin-top: 30px;
}

.form__inner-weather {
    font-size: 64px;
    color: #fff;
}

.weather__image {
    position: absolute;
    right: 555px;
    top: 160px;

    svg {
        width: 270px;
        height: 270px;
        fill: #fff;
    }
}

.form__inner-date {
    margin-left: 48px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    color: #fff;
    font-size: 24px;
}

.temperature-text {
    margin-left: 48px;
    margin-top: 100px;
    border-bottom: 2px #fff solid;
    width: 310px;
}

.temperature {
    font-size: 96px;
    color: #fff;
}

.opacity {
    opacity: .5;
}

.opacity:nth-of-type(1) {
    margin-left: 10px;
}

.form__inner-parameters {
    margin-left: 50px;
    margin-top: 15px;
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.form__inner-city {
    position: absolute;
    bottom: 205px;
    right: 250px;
    height: 123px;
    display: flex;
    flex-direction: row;
}

.city__input {
    border: none;
    outline: 0;
    outline-offset: 0;
    background-color: #fff;
    font-size: 64px;
    border-radius: 15px;
    padding: 0 30px;
    height: 100px;
    color: var(--color);
    width: 400px;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;
}

.city__search {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        20px 20px 45px $shadow-dark,
        -20px -20px 45px $shadow-light;

    svg {
        width: 70px;
        height: 70px;
        fill: var(--color);
    }
}

.city__input::placeholder {
    color: var(--color);
}